<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes</title>
</head>
<body>

<h1>Cupcakes</h1>
<ul id="cupcake-list"></ul>

<h2>Add a new cupcake</h2>
<form id="add-cupcake-form" action="">
    <div>
        <label for="flavor">Flavor: </label>
        <input id="flavor" type="text">
    </div>

    <div>
        <label for="size">Size: </label>
        <select name="size" id="size">
            <option value="small">Small</option>
            <option value="medium">Medium</option>
            <option value="large">Large</option>
        </select>
    </div>

    <div>
        <label for="rating">Rating: </label>
        <input id="rating" type="text">
    </div>

    <div>
        <label for="img_url">Image URL:</label>
        <input id="img_url" type="text">
    </div>
    <button>Submit</button>
</form>
    
</body>
</html>